/*{
	outline: 1px solid red;
}*/
body{
	margin: 0;
	padding: 0;
}
/*-----header common-------*/
header{
	margin: 25px auto;
}
header ul li{
	border-left: 2px solid black;
}
header ul li:first-child{
	border-left: none;
}
/*--------pagina inicio ----*/
.welcome h1{
	margin: 10% auto;
}
.welcome button{
	background-color: white;
	border: 1px solid black;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}
.welcome button a{
	color: black;
}
/*------pagina de los jugadores-----*/
.jugadores form input{
	width: 40%;
}
/*---pagina del juego----*/
.cuadro{
	border: 2px solid black;
	/*padding: 10%;*/
	width: 100px;
	height: 100px;
	margin: 0;
	padding: 0;
}
.col-xs-4{
	margin: 0
	margin-left: 0;
	margin-right: 0;
}
.cuadro:first-child{
	border-top: none;
	border-left: none;
}
.cuadro:last-child{
	border-bottom: none;
	border-right: none;
}
.cuadro:nth-child(2){
	border-top: none;
}
.cuadro:nth-child(3){
	border-top: none;
	border-right: none;
}
.cuadro:nth-child(4){
	border-left: none;
}
.cuadro:nth-child(6){
	border-right: none;
}
.cuadro:nth-child(7){
	border-left: none;
	border-bottom: none;
}
.cuadro:nth-child(8){
	border-bottom: none;
}
.cuadro input{
	width: 100%;
	height: 100%;
	border: none;
}
.movimiento{
	margin-top: 20%;
}
/* ---- pagina historial-----*/
.caja1{
	width: 40%;
	margin: 3% auto;
	height: 80px;
	border: 1px solid black;
}
.caja1 a{
	margin-right: 30px;
}
.caja1 .parrafo1{
	margin-top: 20px;
}
/*----pagina comentarios----*/
.blanca{
	margin: 10px;
}
.form{
	width: 50%;
	margin: auto;
}
.form #name{
	border: 1px solid black;
}
form #textarea{
	border: 1px solid black;
}
.enviar button{
	background-color: white;
	border: 1px solid black;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}


























