
body{
	color: white;
	font-family: cursive;
}
button{
	padding: 10px 20px;
	color: black;
	border-radius: 5px;
	border-bottom-style: outset;
	font-size: 18px;
	background-color: rgb(183, 196, 158);
	font-weight: bold;
	cursor: pointer;
}
header{
	position: relative;
	z-index: 100;
}
section{
	width: 100%;
	height: 100%;
	/*background-image: url(../img/fondo3.jpg);
	background-size: cover;*/
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: none;
	color: white;
}
.visible{
	opacity: 1;
	display: table;
}
.visible h1{
	margin: 10% auto
}
.inicio{
	background-image: url(../img/fondo3.jpg);
	background-size: cover;
	background-color: blue;
	vertical-align: middle;
	display: table-cell;
}
/*----section jugadores-----*/
label, input{
	margin: 10px auto;
}
input{
	color: black;
}
/*----section turno----*/
table{
	position: relative;
	margin: auto 10%;
	margin-left: 0;
}
table td{
    border:2px solid yellow;
	width: 100px;
	height: 100px;
 }
/*table td:first-child{
     border-left:none;
 }
table td:last-child{
     border-right:none;
 }
 table tr:first-child td{
     border-top:none;
 }
 table tr:last-child td{
     border-bottom:none;
 }
.movimiento{
	margin-top: 25%;
}*/
.game .participante{
	margin: auto 10px;
}
/*-----section Historial----*/
.historial{
	/*background-image: url(../img/fondo3.jpg);
	background-size: cover;*/
	color: white;
}
.historial a{
	color: yellow;
}
/*----section-----*/
.comentarios{
	color: black;
	
}
.comentarios h2{
	color: white;
}






